<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xit.dao.ClubDao">

	<!-- 通过Id查询用户 -->
	<select id="findUser" resultType="User">
		select *
		from user
		where
		id=#{userId}
	</select>
	<!-- 查找所有社团或通过前台表单输入的条件查询社团 -->
	<select id="selectByCondition" resultType="club">
		select c.*,u.name from club c left join user u on c.userId=u.id
		<trim prefix="where" prefixOverrides="and|or">
			<if test="clubName!=null and clubName!=''">
				and c.clubName like '%${clubName}%'
			</if>
			<if test="clubId != null and clubId != ''">
				and c.clubId = #{clubId}
			</if>
		</trim>
		limit #{pageNo},#{pageSize}
	</select>
	<!-- selectCountByCondition -->
	<select id="selectCountByCondition" resultType="int">
		select count(*) from club c
		<trim prefix="where" prefixOverrides="and|or">
			<if test="clubName!=null and clubName!=''">
				and c.clubName like '%${clubName}%'
			</if>
			<if test="clubId != null and clubId != ''">
				and c.clubId = #{clubId}
			</if>
		</trim>
	</select>
	<!-- addClub -->
	<insert id="insertClub">
		<!-- 待修改 -->
		insert into club(clubName,clubBrief,userId)
		values(#{clubName},#{clubBrief},#{userId})
	</insert>
	<!-- deleteClub -->
	<delete id="deleteClubById">
		DELETE from club where clubId=#{clubId}
	</delete>
	<!-- updateClub -->
	<!-- 根据Id查询用户信息 -->
	<select id="selectClubById" resultType="club">
		select * from club where
		clubId=#{clubId}
	</select>
	<!-- 根据Id修改用户信息 -->
	<update id="updateClub">
		update club
		set clubName=#{clubName},clubBrief=#{clubBrief}
		WHERE clubId=#{clubId}
	</update>

</mapper>